/* 완료/미완료 출력 */

.compList{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 10px 0;
    padding: 0 10px;
    padding-right: 0;
    box-sizing: border-box;
}

.compList>.typeName{
    display: inline-block;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(222, 222, 222, 0.5);
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 0 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow:unset;
}

.compList>.typeName>span{
    display: inline-block;
    width: 20px;
    font-size: 15px;
    color: transparent;
}

.compList>.margin{
    margin-top: 10px;
}

.compList>.typeValue{
    height: 30px;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.compList>.typeValue>.box3{
    width: 40px;
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.compList>.typeValue>.box3:hover{
    font-weight: bold;
}

.compList>.typeValue:hover >.box3{
    display: block;
}

.compList>.typeValue>input{
    display:none;
}
  
.compList>.typeValue>input + label{
    cursor:pointer;
}
  
/* label:before에 체크하기 전 상태 CSS */
.compList>.typeValue> input + label:before{
    content:"";
    display:inline-block;
    width:17px;
    height:17px;
    border:2px solid #93b3d2;
    border-radius: 4px;
    vertical-align:middle;
    margin-right: 7px;
}
    
/* label:before에 체크 된 상태 CSS */  
.compList>.typeValue>input:checked + label:before{
    content:"";
    background-color:#93b3d2;
    border-color:#93b3d2;
    background-repeat: no-repeat;
    background-position: 50%;
}

.compList>.typeValue>label{
    display: block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}