/* 투두리스트 메인페이지 + 부모 */

@font-face {
    font-family: "myfont";
    font-weight: normal;
    src: url("../font/나눔스퀘어라운드/NanumFontSetup_TTF_SQUARE_ROUND/NanumSquareRoundR.ttf") format("truetype");
  }

.main{
    width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 5px dashed rgb(237, 237, 237);
    font-family: "myfont";
}

.main>.headBox{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(25, 25, 25);
}

.main>.sysBox{
    width: 350px;
    height: 25px;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main>.sysBox>.box1{
    width: 240px;
    text-align: start;
    font-size: 15px;
    padding-left: 3px;
}

.main>.sysBox>.box2{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 15px;

}

.main>.sysBox>.box2:hover{
    font-weight: bold;
}

.mainBox{
    width: 350px;
    height: 600px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    flex-wrap: wrap;
    overflow-y: auto;
}

.mainBox::-webkit-scrollbar {
    display: none;
    width: 15px;
    /* 스크롤바가 미관상 맘에 들지 않아 삭제함 */
}
   
/* .mainBox::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}
   
.mainBox::-webkit-scrollbar-thumb {
    background: #c0c0c07e; 
    border-radius: 20px;
} */
