.systemSet{
    width: 350px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: white;
}

.systemSet>.sys1{
    width: 200px;
    border: none;
    outline: none;
}

.systemSet>.sys2{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

