/* 종류별 투두리스트 출력 */

.typeTodo{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 10px 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.typeTodo>.typeName{
    display: inline-block;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(222, 222, 222, 0.5);
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 0 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow:unset;
}

.typeTodo>.typeName>span{
    cursor: pointer;
    display: inline-block;
    width: 20px;
    font-size: 15px;
    color: transparent;
}

.typeTodo>.typeName>span:hover{
    color: rgb(113, 113, 113);
}

.typeTodo>.typeValue{
    height: 30px;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.typeTodo>.typeValue>.box3{
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;

}

.typeTodo>.typeValue>.box3:hover{
    font-weight: bold;
}

.typeTodo>.typeValue:hover >.box3{
    display: block;
}

/* 참고 사이트 https://hongbyul.tistory.com/entry/input-%EC%B2%B4%ED%81%AC%EB%B0%95%EC%8A%A4-CSS-%EB%B3%80%EA%B2%BD%ED%95%98%EA%B8%B0 */
/* input 숨겨준다 */
.typeTodo>.typeValue>input{
    display:none;
}
  
.typeTodo>.typeValue>input + label{
    cursor:pointer;
}
  
/* label:before에 체크하기 전 상태 CSS */
.typeTodo>.typeValue> input + label:before{
    content:"";
    display:inline-block;
    width:17px;
    height:17px;
    border:2px solid #93b3d2;
    border-radius: 4px;
    vertical-align:middle;
    margin-right: 7px;
}
    
/* label:before에 체크 된 상태 CSS */  
.typeTodo>.typeValue>input:checked + label:before{
    content:"";
    background-color:#93b3d2;
    border-color:#93b3d2;
    background-repeat: no-repeat;
    background-position: 50%;
}

.typeTodo>#typeA> input + label:before{
    border-color: #ffcb21;
}
.typeTodo>#typeA>input:checked + label:before{
    background-color:#ffcb21;
}

.typeTodo>#typeB> input + label:before{
    border-color: #6FA2DB;
}
.typeTodo>#typeB>input:checked + label:before{
    background-color:#6FA2DB;
}

.typeTodo>#typeC> input + label:before{
    border-color: #FCB2CB;
}
.typeTodo>#typeC>input:checked + label:before{
    background-color:#FCB2CB;
}

.typeTodo>#typeD> input + label:before{
    border-color: #81939D;
}
.typeTodo>#typeD>input:checked + label:before{
    background-color:#81939D;
}

.typeTodo>#typeE> input + label:before{
    border-color: #95BA8b;
}
.typeTodo>#typeE>input:checked + label:before{
    background-color: #95BA8b;
}

.typeTodo>#typeF> input + label:before{
    border-color: #a8a8a8;
}
.typeTodo>#typeF>input:checked + label:before{
    background-color:#a8a8a8;
}

.typeTodo>#typeG> input + label:before{
    border-color: #62a3a8;
}
.typeTodo>#typeG>input:checked + label:before{
    background-color:#62a3a8;
}

.typeTodo>.typeValue>label{
    display: block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}